<!-- <mat-card class="mat">
    <h1 class="educate">Education</h1>
</mat-card>
<div>
<div>Some tags before</div>
<owl-carousel-o [options]="customOptions" class="carousel-style">
  <ng-template carouselSlide>Slide 1</ng-template>  
  <ng-template carouselSlide>Slide 2</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template>  
</owl-carousel-o>
<div>Some tags after</div>
</div> -->
<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title" style="font-weight: 700; font-size: 50px;line-height: normal;">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-info " data-aos="fade-right" data-aos-offset="50" data-aos-duration="504">
          <div class="card-body cc-education-header">
            <p></p>
            <div class="ba">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Technology</div>
             <h4 class="category">SRM University, Delhi NCR, Sonipat, Haryana
             </h4>
             <ul>
           
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div style="position:absolute; left: 100px;"><br>
      <div>
        <div class="ba">
      Coursera Certifications
    </div><br>
    <app-carousels></app-carousels>
  </div>
</div>
 