/* 
.educate{
    font-weight: 100;
    font-variant: normal;
}
.mat{
    width: min-content;
}
.carousel-style{
    background-color: blue;
} */
h4{
    color:#4a4843;
font-size: 20px;
margin-bottom: 10px;
margin-top:2px;
}
.animated{
    height: 600px;
    position:relative;
    left:-230px;top:-300px;
}
/* .col-md-3{
    background-color: bisque;
} */
/* Filtering table demo */
ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#kn{
    color: white;background-color: #a07407;
}
.card{
    
    left: 22%;
    width: 70%;
}
.ba{
    font-weight: 600;
    font-size: 27px;
    line-height: normal;
}
.educate{
    font-weight: 700; font-size: 50px;line-height: normal;
}
@media screen and (max-width: 800px) {

.educate{
    text-align: center;
}
.section{
    flex-direction: column;
    top: 100px;
}
.card{
    position: relative;
    top:500px;left: -40px;
    width: fit-content;
}
.cert{
    position: relative;
    top:-100px;
}

}