.mat-card {
    height: 300px;
    width: 300px;
    /* border-radius: -30px; */
    box-shadow: 0px 4px 8px 0px #93e634;
    /* margin-top: 50px;
      margin-bottom: 50px; */
    transition: 0.5s ease-in-out;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 100;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    color: white;
    background-image: linear-gradient(
    
    #98c7c9,
    #A23982,
    black
   
  );
  border-radius: 100%;
    
  }
  .a {
    height: 380px;
    width: 400px;
    text-align: center;
    position: relative;
      
      left: 660px;
       top: -10px;
       right: 0;
       bottom: 0;
  }
  .animated{
    height: 700px;
    position:relative;
    left:30px;top:-500px;
}
  .p-profile {
      width: 50%;
      height: 400%;
      /* background: url(/assets/img/image1.jpg); */
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      /* box-shadow: 0px 4px 8px 0px blue; */
      animation: 1s ease-out 0s 1 slideInFromLeft; 
      position: relative;
      
      left: 330px;
       top: 100px;
       right: 0;
       bottom: 0;
      
    }
    .p-profile:hover{
      width: 60%;
      height: 400%;
      z-index: -1;
    }