<!--


<br>

<mat-card style= "box-shadow: 0px 4px 8px 0px #725542; " class="a">
</mat-card> -->

<h1>Who am I?</h1>
<h1 style="font-weight: 700; font-size: 50px;line-height: normal;">About Me</h1>
<div class="col-sm-5">
<div  class="p-profile">
<!-- <img src="/assets/img/image1.jpg" alt=""  style="position: absolute;left: 200px; top: 100%;"> -->
</div>
</div>
<mat-card class="a" style= "box-shadow: 0px 4px 8px 0px #ff7b25;">
  <mat-icon style="color: white;" aria-hidden="false" aria-label="Example home icon" class="icon1" >psychology</mat-icon>
  <h2>Know me</h2>
  <div >
  <br>
  Hi I'm Abhijit Utkarsh .Currently I am a student at SRM University, 
  Delhi NCR, Sonepat, Haryana. I have expertise with Angular8, NodeJS,
  Express and front end . Done few live projects and portfolio work in
  above.
  <br>
  Lover of innovation and everything related to generate new 
  knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.
  <br><br>
</div>
  <div class="container text-center">
    <a class="cc-facebook btn btn-link" href="https://www.facebook.com/mehul.kothari.39" target="_blank">
      <i class="fa fa-linkedin fa-2x" style="color: orange;" aria-hidden="true"></i>
    </a>
    <!-- <a class="cc-instagram btn btn-link" href="https://www.instagram.com/mehul_kothari05/" target="_blank">
      <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-twitter btn btn-link " href="https://twitter.com/MehulKo18943279" target="_blank">
      <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
    </a>
   -->
    <a class="cc-github btn btn-link " href="https://github.com/mehulk05" target="_blank">
      <i class="fa fa-github fa-2x " style="color: orange;" aria-hidden="true"></i>
    </a>
    
  </div>
</mat-card>

          
