

img {
  height: 100px;
  width: 100px;
}
.animated{
    height: 600px;
    position:absolute;
    left:-260px;top:180px;
}
.mat-card {
  /* border-radius: -30px; */
  box-shadow: 0px 4px 8px 0px #93e634;
  /* margin-top: 50px;
    margin-bottom: 50px; */
  transition: 0.5s ease-in-out;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: 100;
  color: white;
  background-color: saddlebrown ;
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}
.price {
  font-weight: 600;
  font-size: 40px;
  padding: 3%;
  color: black;
}
.benefits {
  font-weight: 600;
  font-size: small;
}
/* button {

  background-color: #f56c11;
  box-shadow: 0 9px 25px -5px #556a65;
  font-family: "Abel", sans-serif;
  padding: 0.5em 1.9em;
  margin: 5.7em 0 0 0;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;
  
} */
button:hover {
  transform: translatey(2px);
}
button:active {
  transform: translatey(5px);
}
.upgrade{
  margin: 5.6em 0 0 0;
}
.goldupgrade{
  margin: -1.8em 0 0 0;
}

/* .mat-card:hover {
  box-shadow: 3px 8px 16px 0 #1dddb0;
  height: 280px;
} */

.a {
  height: 150px;
  width: 750px;
  /* position: absolute; */
  position: absolute;
  bottom: 100%;
  left: 39%;
  right: 0;
  
/* transform: translateY(-100%); */
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.p-wrapper {
  position: relative;
}
.p-wrapper::before {
  content: "";
  background: #aad6cc;
  height: 70vh;
  width: 97.7%;
  /* width: 93%; */

  position: fixed;
  z-index: -1;
}


#first {
  animation: 0.7s ease-out 0s 1 slideInFromLeft;
}
#third {
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
}
#second{
  animation: 0.9s ease-out 0s 1 slideInFromLeft;
}
.hot {
  position: absolute;
  top: -7px;
  background: #f80;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  padding: 2px 7px;
  font-size: 12px;
  border-radius: 2px;
  right: 10px;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .mat-card {

    width: fit-content;
    position: absolute;
    top: 300px;
    left: -200px;
  }
  #first:hover {
    box-shadow: 3px 8px 16px 0 #33403d;
    height: 615px;
  }
  #third:hover {
    box-shadow: 3px 8px 16px 0 #33403d;
    height: 615px;
  }
  #first {
    height: 600px;
    width: 70%;
  }
  #third {
    height: 600px;
    width: 70%;
  }
  .p-wrapper {
    position: relative;
  }
  .p-wrapper::before {
    content: "";
    background: #aad6cc;
    height: 70vh;
    /* width: 95%; */
    width: 85%;
    position: fixed;
    z-index: -1;
  }
  .animated{
    position: absolute;
  }
}
.space{
    padding-right:3px;
}
h2{
  padding: 2%;
}