

img {
  height: 100px;
  width: 100px;
}
.animated{
    height: 600px;
    position:absolute;
    left:-260px;top:180px;
}
.mat-card {
  /* border-radius: -30px; */
  box-shadow: 0px 4px 8px 0px #93e634;
  /* margin-top: 50px;
    margin-bottom: 50px; */
  transition: 0.5s ease-in-out;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: 100;
  color: white;
  background-image: linear-gradient(
    to right,
    #aa3e3b,
    #DB6FB7,
        #130208ec
   
  );
  /* border-radius: 50%; */
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}
.price {
  font-weight: 600;
  font-size: 40px;
  padding: 3%;
  color: black;
}
.benefits {
  font-weight: 600;
  font-size: small;
}
/* button {

  background-color: #f56c11;
  box-shadow: 0 9px 25px -5px #556a65;
  font-family: "Abel", sans-serif;
  padding: 0.5em 1.9em;
  margin: 5.7em 0 0 0;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;
  
} */
button:hover {
  transform: translatey(2px);
}
button:active {
  transform: translatey(5px);
}
.upgrade{
  margin: 5.6em 0 0 0;
}
.goldupgrade{
  margin: -1.8em 0 0 0;
}

/* .mat-card:hover {
  box-shadow: 3px 8px 16px 0 #1dddb0;
  height: 280px;
} */

.a {
  height: 150px;
  width: 750px;
  /* position: absolute; */
  position: absolute;
  bottom: 100%;
  left: 39%;
  right: 0;
  
  
/* transform: translateY(-100%); */
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  
}
#ab{
   position: relative; 
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: black;
  width: 250px;
  height: 50px;
  /* font-size: 2em; */
  border-radius: 5px;
  opacity: .5;
  top: 6vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: .3s;
}
#ab:hover{
  border: 2px solid #104F55;
  background-color: rgba(365,365,365,0.5);
  cursor: pointer;
  color: #A23982;
  opacity: .8;
  transition: .3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.p-wrapper {
  position: relative;
}
.p-wrapper::before {
  content: "";
  background: #aad6cc;
  height: 70vh;
  width: 97.7%;
  /* width: 93%; */

  position: fixed;
  z-index: -1;
}


#first {
  animation: 0.7s ease-out 0s 1 slideInFromLeft;
}
#third {
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
}
#second{
  animation: 0.9s ease-out 0s 1 slideInFromLeft;
}
.hot {
  position: absolute;
  top: -7px;
  background: rgb(102, 85, 66);
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  padding: 2px 7px;
  font-size: 12px;
  border-radius: 2px;
  right: 10px;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .mat-card {

    width: fit-content;
    position: absolute;
    top: 300px;
    left: -200px;
  }
  #first:hover {
    box-shadow: 3px 8px 16px 0 #33403d;
    height: 615px;
  }
  #third:hover {
    box-shadow: 3px 8px 16px 0 #33403d;
    height: 615px;
  }
  #first {
    height: 600px;
    width: 70%;
  }
  #third {
    height: 600px;
    width: 70%;
  }
  .p-wrapper {
    position: relative;
  }
  .p-wrapper::before {
    content: "";
    background: #aad6cc;
    height: 70vh;
    /* width: 95%; */
    width: 85%;
    position: fixed;
    z-index: -1;
  }
  .animated{
    position: absolute;
  }
}
.space{
    padding-right:3px;
}
h2{
  padding: 2%;
  
}
.h5{
  color: black;
}


/* button */
/* a{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
} */
/* a:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
} */
/* a:nth-child(1){
  filter: hue-rotate(270deg);
}
a:nth-child(2){
  filter: hue-rotate(110deg);
}
a span{
  position: absolute;
  display: block;
}
a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
} */
/* @keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
} */
/* a span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
} */
/* @keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
} */


/* a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
} */
/* @keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
} */