.progress-badge{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
}
#border{
    border-color: black;
    border-style: solid;
    
}
.col-md-6{
  padding: 2%;
}
#soft{
width: 600px;
position: relative;
  top: -100px; left: 380px;
animation: 1s ease-out 0s 1 slideInFromLeft; 
color: white;
background-image: linear-gradient(
  /* #d3fcad,
  #DB6FB7 */
  /* purple,
  #FFC2FF,
  #DB6FB7 */

  );
}
#hard{
  width: 500px;
  position: relative;
  top: -100px; left: 280px;
  animation: 1s ease-out 0s 1 slideInFromLeft; 
  color: white;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.377),
  #a23c39,
  rgba(99, 12, 84, 0.603)
  

  );
}
.animated{
  height: 500px;
  position:absolute;
  left:-90px;top:90px;
}


/* ---------------------------------- */
