<div class="section" id="skill">
    <div class="container">
        <div class="h4 text-center mb-4 title" style="font-weight: 700; font-size: 50px;line-height: normal;">Skills</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Angular</span>
                            <div align="center" style="margin-top:0%;">
                                <circle-progress [percent]="85"  [space]="-10" [radius]="50" [outerStrokeWidth]="10"
                                  [innerStrokeWidth]="30" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                  [animationDuration]="1000"></circle-progress>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Node JS</span>
                            <div align="center" style="margin-top:0%;">
                                <circle-progress [percent]="80"  [space]="-10" [radius]="50" [outerStrokeWidth]="10"
                                  [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                  [animationDuration]="1000"></circle-progress>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">HTML CSS Boostrap</span>
                            <div align="center" style="margin-top:0%;">
                                <circle-progress [percent]="80"  [space]="-10" [radius]="50" [outerStrokeWidth]="10"
                                  [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                  [animationDuration]="1000"></circle-progress>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Javascript Jquery</span>
                            <div align="center" style="margin-top:0%;">
                                <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="10"
                                  [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                  [animationDuration]="1000"></circle-progress>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">SQL , MYSQL,Monogo, Firebase</span>
                            <div align="center" style="margin-top:0%;">
                                <circle-progress [percent]="75"  [space]="-10" [radius]="50" [outerStrokeWidth]="10"
                                  [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                  [animationDuration]="1000"></circle-progress>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">UI/ UX PSD, Figma</span>
                            <div align="center" style="margin-top:0%;">
                                <circle-progress [percent]="70"  [space]="-10" [radius]="50" [outerStrokeWidth]="10"
                                  [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                  [animationDuration]="1000"></circle-progress>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>