.progress-badge{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
}
#border{
    border-color: black;
    border-style: solid;
    
}
.col-md-6{
  padding: 2%;
}
#soft{
width: 600px;
position: relative;
  top: -100px; left: 340px;
animation: 1s ease-out 0s 1 slideInFromLeft; 
color: white;
background-color: hotpink;
}
#hard{
  width: 500px;
  position: relative;
  top: -100px; left: 240px;
  animation: 1s ease-out 0s 1 slideInFromLeft; 
  color: white;
  background-color: black;
}
.animated{
  height: 500px;
  position:absolute;
  left:-90px;top:90px;
}


/* ---------------------------------- */
