<ng-particles [id]="id" [url]="particlesUrl" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)"></ng-particles>


<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<!-- <p id='head1' class='header'>Awesome designs</p>
<p id='head2' class='header'>Just</p>
<p id='head3' class='header'>For you</p>
<p id='head4' class='header'>simple and awesome all the time</p>
<p id='head5' class='header'>Welcome to BA designs</p> -->

  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x8'></div>
  <div class='light x9'></div>



<section class="p-wrapper" >
  <!-- Header -->
  <div class="cursor" #cursor1></div>
  
  <app-header style="position: fixed;
  z-index:999; width: 100%;">
  </app-header>
  
  <!-- ROUTER -->
  <div style="height: 88px;
  width: 100%;
  "></div>
  
  <div [@routeAnimations]="prepareRoute(outlet)" >
    <!-- <ng-particles [id]="id" [url]="particlesUrl" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)">  -->
      <router-outlet #outlet="outlet"></router-outlet>
      <!-- </ng-particles> -->
    </div>
  
  </section>