<h1>What I do ?</h1>
<div style="font-size: 40px; font-weight: 700; line-height: normal;">Here are some of<br> my expertise</div>

<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="450px" style="width: 800px;" > 
   
    <mat-grid-tile class="space">
      <mat-card class="a" style=" box-shadow: 0px 4px 8px 0px #d64161;" >
          <div class="plan"> </div><br>
         
          <div  class="hexagon1" >
         </div>
          <mat-icon style="color: white;" aria-hidden="false" aria-label="Example home icon" class="icon">code</mat-icon>
         <h2>SOFTWARE DEVELOPMENT</h2>
         <br>
         <p>As an CS bacground person worked in many project to develop various softwares</p>
          
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="space">
        <mat-card class="a" style= "box-shadow: 0px 4px 8px 0px #feb236;">
        
          <div class="plan"> </div><br>
          <div  class="hexagon2">
        </div>
         <mat-icon style="color: white;" aria-hidden="false" aria-label="Example home icon" class="icon">layers</mat-icon>
         <h2>FRONT END DEVELOPER</h2>
         <br>
         <p>Worked as front end developer on so many projects using various language</p>
          
          
      </mat-card>
       </mat-grid-tile> 
  
       <mat-grid-tile class="space">
          <mat-card class="a" style= "box-shadow: 0px 4px 8px 0px #6b5b95;">
              <div class="plan"></div><br>
              <div  class="hexagon3">
            </div>
             <mat-icon style="color: white;" aria-hidden="false" aria-label="Example home icon" class="icon">engineering</mat-icon>
             <h2>BACK END DEVELOPER</h2>
             <br>
             <p>Worked as back end devel in few of my projects with database and backend languages</p>
              
             
          </mat-card>

      </mat-grid-tile>
      
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="400px" style="width: 800px;" > 

        <mat-grid-tile class="space">
            <mat-card class="a" style= "box-shadow: 0px 4px 8px 0px #ff7b25;">
                <div class="plan"></div><br>
                <div  class="hexagon">
              </div>
               <mat-icon style="color: white;" aria-hidden="false" aria-label="Example home icon" class="icon1" >psychology</mat-icon>
               <h2>INNOVATIVE IDEAS</h2>
               <br>
               <p>Worked in different projects with different and innovative ideas on various technologies</p>
                
               
               
            </mat-card>
  
        </mat-grid-tile>
      </mat-grid-list>
    

</div>