<meta http-equiv="refresh" >

<section>
    <img class="a" src="/My_portfolioangular/assets/img/image1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div >
                    <!-- background: url(); -->
<img src="/My_portfolioangular/assets/img/image1.jpg" alt=""class="p-profile" id="img">
                </div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag"style="font-weight: 500; font-size: 25px;line-height: normal;color : white;">Full Stack Developer</span>
                <h1 class="mt-4"style="font-weight: 700; font-size: 50px;line-height: normal;">Abhijit Utkarsh</h1>
                <p class="p-des mt-3 mb-4">I am a B.Tech Undergrad student, extremely passionate about technology.
                    As of now, I am interning as an SDE Intern at Evoxyz Technologies Pvt. Ltd, still I am learning, looking for ways to make myself better.</p>
                    <div href= "#" class="p-readmore"> Read more<img src="assets/img/arow.png" alt="The icon for read more arrow"
                        width="15" class="ml-2"></div>
                      
                    <p class="category text-white">FrontEnd/Mean Stack Developer</p>
                    <a class="" id="hireme" href="/My_portfolioangular/contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"  >Hire Me</a><br>
                    <a class="btn" href="https://drive.google.com/open?id=1uy3Afn8RI9dLkc3d9YuOCFozdhX4LWPb" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"
                    style="position: absolute; left: 50%;">Download CV</a>
             
<!-- <<<<<<< HEAD -->
                    
<!-- ======= -->
<!-- >>>>>>> 234786c5d1feed9c2bdd763d3a457ec000b2d089 -->
                </div>  
        </div>
    </div>
    
</section>
<div >
</div>


<!-- https://www.youtube.com/watch?v=DHCqCpRgqKI&t=857s -->
 