<section>
    <img class="a" src="/assets/img/image1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile">

                </div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Software Engineer</span>
                <h1 class="mt-4">Abhijit Utkarsh</h1>
                <p class="p-des mt-3 mb-4">I am a B.Tech Undergrad student, extremely passionate about technology.
                    As of now, I am interning as an SDE Intern at Evoxyz Technologies Pvt. Ltd, still I am learning, looking for ways to make myself better.</p>
                    <a href= "#" class="p-readmore"> Read more<img src="assets/img/arow.png" alt="The icon for read more arrow"
                        width="15" class="ml-2"></a>
                </div>   
        </div>
    </div>
</section>

<!-- https://www.youtube.com/watch?v=DHCqCpRgqKI&t=857s -->