@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.p-profile {
  width: 100%;
  height: 495px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: solid brown;animation: 1s ease-out 0s 1 slideInFromLeft; 
}
.p-tag {
  /* background: #BE549C; */
  background-image: linear-gradient(
    to right,
    black,
    #BE549C   
  );
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
}
section {
  font-family: "Roboto", sans-serif;
}
.p-des {
  color: black;
  width: 80%;
}
.a {
  display: none;
}
@media screen and (max-width: 800px) {
 #img{
   height: 0px;
   width: 0px;
 }
  .p-profile {
    background: none;
    width: 10%;
    height: 200px;
    background-repeat: repeat;
    /* background-size: ; */
    background-position: none;
    object-position: center;
    border: none;
  }
  .a {
    background-image: url(https://drive.google.com/file/d/1rFvy2f4thaiJgK5tJ5sEq5uT28HfnwV2/view?usp=sharing);
    opacity: 0.4;
    background-repeat: repeat-y;
    display: grid;
    width: 100%;
    height: 100%;
  }
  .container {
    position: absolute;
    top: 20%;
  }
}
#hireme{
  width: 300px;
  height: 60px;
  font-size: 40px;
  /* text-transform: uppercase; */
  /* letter-spacing: 1.3px; */
  /* font-weight: 700; */
  color : rgb(241, 222, 222);
  /* background: #6cf020; */
background: linear-gradient(90deg, rgb(46, 59, 173) 0%, rgb(42, 4, 211) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(253, 7, 179, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  bottom: -30px;left: 100px;
  padding: 10px;
  font-family: 'Qahiri', sans-serif;
  }

#hireme::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  /* border: 6px solid #0d09f1; */
  box-shadow: 0 0 60px rgba(157, 149, 224, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

#hireme:hover, #hireme:focus {
  color: #fafaff;
  transform: translateY(-6px);
}

#hireme:hover::before, #hireme:focus::before {
  opacity: 1;
}

#hireme::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #4034a8;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#hireme:hover::after, button:focus::after {
  animation: none;
  display: none;
}
.mt-4{
  /* -webkit-text-stroke-width: 0.1; */
  /* -webkit-text-stroke-color: rgb(167, 19, 51); */
  color: #FFDFFF;
}
.p-des {
color: #00FFCB;

}
